table {
    border-collapse: separate;
}

body {
    background-color: #cfcfcc;
}

.head {
    color: #ffffff;
    border-left: solid #ffffff;
    display: block;
    font-size: 20px;
    height: 17px;
    border-left: solid white 1px;
    line-height: 10px;
    vertical-align: top;
    padding-left: 1px;
}

.entry {
    color: #f19a34;
    background-color: #111;
    font-size: 25px;
    display: table-row;
    vertical-align: inherit;
}
.time {
    color: #ffffff;
    font-family: 'DejaVu Sans Mono';
    font-size: 25px;
}

.station {
    color: #ffffff;
    font-family: 'DejaVu Sans Mono';
    font-size: 30px;
    font-weight: bold;
}
table {
    margin: 10px;
}

.depaturemonitor {
    background-color: #000;
    position: relative;
    max-width: 600px;
    margin-left: 50%;
    margin-top: 20px;
    left: -300px;
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.26),
        0 4px 20px 0 rgba(0, 0, 0, 0.32);
}
